<div class="tile info premier">
  <div class="headline-bpl">
    <i class="fa fa-refresh" ng-click="refresh()"></i>premier league 15/16<i class="fa fa-minus" ng-click="remove()"></i>
  </div>
  <div class="league" ng-class="{ open: open }">

  <table>
    <tr>
      <th>#</th>
      <th>i</th>
      <th>team</th>
      <th>GP</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
      <th>Pts</th>
    </tr>
      <tr ng-repeat="object in dgData">
      <td>{{ object.position }}</td>
      <td><img class="crest" src="{{ object.crestURI }}"></td>
      <td><p>{{ object.teamName }}</p></td>
      <td>{{ object.playedGames}}</td>
      <td>{{ object.wins }}</td>
      <td>{{ object.draws }}</td>
      <td>{{ object.losses }}</td>
      <td>{{ object.goals }}</td>
      <td>{{ object.goalsAgainst }}</td>
      <td>{{ object.goalDifference }}</td>
      <td>{{ object.points}}</td>
    </tr>
    </table>
  </div>
  <div class="headline-bpl">
    <i  class="fa" ng-class="{ 'fa-arrow-up': open, 'fa-arrow-down': !open }" ng-click="toggle()"></i>
  </div>
</div>