<div class="info tile">
  <div class="headline-scores">
    <i class="fa fa-refresh" ng-click="refresh()"></i>champions league fixtures & scores <i class="fa fa-minus" ng-click="remove()"></i>
  </div>
  <div class="leagueTwo">
    <div class="row status" ng-repeat="object in dgData">
      <div class="col-md-3">{{ object.start | date: "dd-mm-yyyy HH:mm" }}</div>
      <div class="col-md-3">{{ object.awayTeam.name }}</div><div class="col-md-1"> {{ object.awayGoals }}</div>
      <div class="col-md-1"> V </div>
      <div class="col-md-1">{{ object.homeGoals }}</div>
      <div class="col-md-3">{{ object.homeTeam.name }}</div>
    </div>
  </div>
</div>
